.slider-track {
    animation: slide-left 20s linear infinite;
}

.paused {
    animation-play-state: paused;
}

@keyframes slide-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}


/* Join our team  */
.counter-7518::after {
    content: "0";
    animation: count7518 1s steps(12) forwards;
}

@keyframes count7518 {
    45% {
        content: "3382";
    }

    50% {
        content: "3758";
    }

    55% {
        content: "4134";
    }

    60% {
        content: "4509";
    }

    65% {
        content: "4885";
    }

    70% {
        content: "5261";
    }

    75% {
        content: "5637";
    }

    80% {
        content: "6012";
    }

    85% {
        content: "6388";
    }

    90% {
        content: "6764";
    }

    95% {
        content: "7140";
    }

    100% {
        content: "7518";
    }
}


.counter-3472::after {
    content: "0";
    animation: count3472 1s steps(12) forwards;
}

@keyframes count3472 {

    45% {
        content: "1064";
    }

    50% {
        content: "1236";
    }

    55% {
        content: "1310";
    }

    60% {
        content: "1684";
    }

    65% {
        content: "1758";
    }

    70% {
        content: "1932";
    }

    75% {
        content: "2006";
    }

    80% {
        content: "2180";
    }

    85% {
        content: "2254";
    }

    90% {
        content: "2528";
    }

    95% {
        content: "2653";
    }

    100% {
        content: "3472";
    }
}

.counter-2184::after {
    content: "0";
    animation: count2184 1s steps(12) forwards;
}

@keyframes count2184 {
    45% {
        content: "981";
    }

    50% {
        content: "1092";
    }

    55% {
        content: "1201";
    }

    60% {
        content: "1310";
    }

    65% {
        content: "1419";
    }

    70% {
        content: "1528";
    }

    75% {
        content: "1637";
    }

    80% {
        content: "1746";
    }

    85% {
        content: "1855";
    }

    90% {
        content: "1964";
    }

    95% {
        content: "2073";
    }

    100% {
        content: "2184";
    }
}


/* Counter 4523 */
.counter-4523::after {
    content: "0";
    animation: count4523 1s steps(12) forwards;
}

@keyframes count4523 {
    45% {
        content: "1081";
    }

    50% {
        content: "1292";
    }

    55% {
        content: "1401";
    }

    60% {
        content: "1610";
    }

    65% {
        content: "1919";
    }

    70% {
        content: "2228";
    }

    75% {
        content: "2737";
    }

    80% {
        content: "2946";
    }

    85% {
        content: "3155";
    }

    90% {
        content: "3264";
    }

    95% {
        content: "3873";
    }

    100% {
        content: "4523";
    }
}

/* .carousel-track {
    transition: transform 0.6s ease-in-out;
} */

@keyframes scrollRight {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.scroll-animation {
    animation: scrollRight 30s linear infinite;
}

.card {
    flex: 0 0 auto;
    width: 250px;
}

.scroll-track:hover {
    animation-play-state: paused;
}