@import 'tailwindcss';
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body{
	font-family: 'Open Sans', sans-serif;
}
.slant-box {
    /* Cut the top edge diagonally */
    clip-path: polygon(0 0,
            /* top-left corner */
            100% 0%,
            /* top-right corner */
            100% 80%,
            /* bottom-right corner */
            0 100%
            /* bottom-left corner */
        );
}
