@keyframes fillBar {
    from {
        width: 0%;
    }

    to {
        width: var(--target-width);
    }
}

.animate-fill {
    animation: fillBar 1.5s ease forwards;
}


.counter-7518::after {
    content: "0";
    animation: count7518 1s steps(12) forwards;
}

@keyframes count7518 {
    45% {
        content: "3382";
    }

    50% {
        content: "3758";
    }

    55% {
        content: "4134";
    }

    60% {
        content: "4509";
    }

    65% {
        content: "4885";
    }

    70% {
        content: "5261";
    }

    75% {
        content: "5637";
    }

    80% {
        content: "6012";
    }

    85% {
        content: "6388";
    }

    90% {
        content: "6764";
    }

    95% {
        content: "7140";
    }

    100% {
        content: "7518";
    }
}


.counter-5472::after {
    content: "0";
    animation: count5472 1s steps(12) forwards;
}

@keyframes count5472 {

    45% {
        content: "2464";
    }

    50% {
        content: "2736";
    }

    55% {
        content: "3010";
    }

    60% {
        content: "3284";
    }

    65% {
        content: "3558";
    }

    70% {
        content: "3832";
    }

    75% {
        content: "4106";
    }

    80% {
        content: "4380";
    }

    85% {
        content: "4654";
    }

    90% {
        content: "4928";
    }

    95% {
        content: "5200";
    }

    100% {
        content: "5472";
    }
}

/* Counter 2184 */
.counter-2184::after {
    content: "0";
    animation: count2184 1s steps(12) forwards;
}

@keyframes count2184 {
    45% {
        content: "981";
    }

    50% {
        content: "1092";
    }

    55% {
        content: "1201";
    }

    60% {
        content: "1310";
    }

    65% {
        content: "1419";
    }

    70% {
        content: "1528";
    }

    75% {
        content: "1637";
    }

    80% {
        content: "1746";
    }

    85% {
        content: "1855";
    }

    90% {
        content: "1964";
    }

    95% {
        content: "2073";
    }

    100% {
        content: "2184";
    }
}